<% if @transaction.errors.any? %>
<ul>
  <% @transaction.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_with model: @transaction, url: 'topup' do |f| %>
  <div class="form-group">
    <%= f.label :amount %>
    <input type="hidden" 
       value="<%= form_authenticity_token() %>" 
       name="authenticity_token"/>
    <%= f.number_field :amount, min: 1, class: 'form-control', required: true %>
  </div>
  <%= f.submit "Transfer", class: 'btn btn-success' %>
<% end %>