<p>*Balance is sum of deposit and debits minus sum of credits and withdrawals </p>
<table border="1" class="table table-striped">
  <tr>
    <th>Current Balance</th>
    <th>Total Deposits</th>
    <th>Total Debits</th>
    <th>Total withdrawals</th>
    <th>Total Credits</th>
  </tr>  
    <td><%= number_to_currency_id @current_logged_user.balance %></td>
    <td><%= number_to_currency_id @current_logged_user.sum_of_deposits %></td>
    <td><%= number_to_currency_id @current_logged_user.sum_of_debits %></td>
    <td><%= number_to_currency_id @current_logged_user.sum_of_withdraws %></td>
    <td><%= number_to_currency_id @current_logged_user.sum_of_credits %></td>
  <tr>
  </tr>
  <tr>
    <th>Transactions Count</th>
    <th>Deposits Count</th>
    <th>Debits Count</th>
    <th>withdrawals Count</th>
    <th>Credits Count</th>
  </tr>
  <tr>
    <td><%= @current_logged_user.transactions_count %></td>
    <td><%= @current_logged_user.deposits.count %></td>
    <td><%= @current_logged_user.debits.count %></td>
    <td><%= @current_logged_user.withdraws.count %></td>
    <td><%= @current_logged_user.credits.count %></td>
  </tr>
</table>
